body {
    font-family: "Raleway", sans-serif;
    background: linear-gradient(to bottom, #8e2de2, #4a00e0);
    color: #fff;
    text-align: center;
  }

  h1 {
    font-size: 3em;
    font-family: "Playfair Display", serif;
    animation: fadeInDown 2s;
  }

  p {
    max-width: 800px;
    margin: 20px auto;
    font-size: 1.2em;
    animation: fadeIn 2s;
    line-height: 1.5;
  }

  .btn {
    padding: 12px 25px;
    border: none;
    background-color: #ff6347;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.2s;
    font-weight: 500;
  }

  .btn:hover {
    background-color: #ff4500;
    transform: scale(1.05);
  }

  nav {
    padding: 10px 0;
    text-align: center;
  }

  nav a {
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
  }

  nav a:hover {
    text-decoration: underline;
  }

  h1,
  h2 {
    font-family: "Playfair Display", serif;
    text-align: center;
  }

  #kalamImage {
    display: block;
    max-width: 300px;
    margin: 20px auto;
    border-radius: 50%;
  }

  .btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ff4500;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
    transition:0.51s ease-in;
  }

  .btn:hover {
    background-color:rgba(0, 0, 0, 0.5);
  }
  h3 {
font-size: 1.8em;
margin-top: 30px;
margin-bottom: 15px;
border-bottom: 2px solid #FF6347;
padding-bottom: 5px;
text-transform: uppercase;
}

section {
max-width: 900px;
margin: 20px auto;
padding: 20px 30px;
background-color: rgba(0, 0, 0, 0.5);
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

p, ul {
font-size: 1.1em;
line-height: 1.6;
}

ul {
padding-left: 30px;
text-align: left;
}

ul li {
margin-bottom: 10px;
}

ul li strong {
color: #FF6347;
}
footer {
background-color: rgba(0, 0, 0, 0.8);
color: #FFFFFF;
padding: 20px 0;
font-size: 1em;
position: relative;
bottom: 0;
width: 100%;
}

.footer-content {
max-width: 900px;
margin: 0 auto;
text-align: center;
}

.footer-links {
list-style-type: none;
padding: 0;
margin-left: 34%;
}

.footer-links li {
display: inline;
margin: 0 10px;


}

.footer-links a {
color: #FF6347;
text-decoration: none;
transition: color 0.3s;
}

.footer-links a:hover {
color: #FF4500;
}

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }